:css
  #tagline:before { background-image: url("#{ContentConfig.home_hero.url}") }

#panes
%section.bterres{:"ng-controller" => "BTerresController"}
  .bterres_header.bg_bterres
    %h1
      %img{:height => "68px", :src => "{{content.header_logo}}"}
      %h1  {{content.header_titol}}

  .bterres_block
    .row
      %h2 {{normal_block_1.titol}}
      %div{"ng-bind-html" => "normal_block_1.text"}

  .bterres_block.bg_bterres
    .row
      %h2 {{content.com_funciona.titol}}
      %div{"ng-bind-html" => "content.com_funciona.contingut"}
      %a{:href => "{{content.com_funciona.link_url}}"} {{content.com_funciona.link_text}}
      %p.text-center {{content.com_funciona.link_description}}

  .bterres_block
    .row
      %h2 {{content.who_block.titol}}
      %div{:"ng-repeat" => "item in content.who_block.who_block_repeater track by $index"}
        {{item.text}}
      %p {{content.who_block.text_separador}}
      %div{:"ng-repeat" => "item in content.who_block.who_block_repeater_2 track by $index"}
        {{item.text}}

  .bterres_block.bg_bterres
    .row
      %h2 {{normal_block_2.titol}}
      %div{"ng-bind-html" => "normal_block_2.text"}

  .bterres_block.contractes
    .row
      %h2 Tipus de contractes
      %button.contracts_btn{:"ng-repeat" => "item in content.contracts.contracte track by $index", :"data-contract" => "{{$index}}", :"ng-click" => "toggleBTContract()", :"id" => "contract{{$index}}_btn"}
        {{item.titol}}
      %div.hidden{:"ng-repeat" => "item in content.contracts.contracte track by $index", :"id" => "contract{{$index}}_container"}
        %h3 {{item.titol}}
        %div{"ng-bind-html" => "item.text"}

  = render "shared/footer"
  #lang= @langvar
