- if ContentConfig.home_page_alert_html.present?
  .alert-box
    .alert-cta
      %h6= raw ContentConfig.home_page_alert_html
    %a.close{ ng: { click: "close()" } } &times;

- else
  - if controller.controller_name != 'home' && controller.controller_name != 'banc_terres' && controller.controller_name != 'banc_recursos' && controller.controller_name != 'tutorials' && controller.controller_name != 'legal'
    .alert-box
      = render "shared/register_call"
      %a.close{ ng: { click: "close()" } } &times;
