#brand-story.pane
  .row
    .text-center
      .brand-story-header
        %h2 {{content.brandstory.titol}}
        %p  {{content.brandstory.claim}}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{brandstory_icons_1.icona}}"}
        .home-icon-box-bottom
          %h4 {{ brandstory_icons_1.titol }}
          %p.text-normal {{ brandstory_icons_1.text_link }}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{brandstory_icons_2.icona}}"}
        .home-icon-box-bottom
          %h4 {{ brandstory_icons_2.titol }}
          %p.text-normal {{ brandstory_icons_2.text_link }}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{brandstory_icons_3.icona}}"}
        .home-icon-box-bottom
          %h4 {{ brandstory_icons_3.titol }}
          %p.text-normal {{ brandstory_icons_3.text_link }}


      %a.brandstory_button#brandstory_expand{:href => "#"}
        = t :header_block_link_text

  .text-center#brandstory_expand_container.hidden
    %h2 {{content.brandstory.expand1.titol}}
    %p  {{content.brandstory.expand1.p1}}
    %p  {{content.brandstory.expand1.p2}}
    %br/
    %h2 {{content.brandstory.expand2.titol}}
    %p  {{content.brandstory.expand2.p1}}
    %a.brandstory_button#brandstory_expand_hide{:href => "#"}
      = t :brandstory_hide

  .row
    .carousel{"data-flickity" => "{ \"cellAlign\": \"center\", \"pageDots\": false, \"freeScroll\": false, \"contain\": false, \"prevNextButtons\": true}"}
      .responsive-embed-widescreen
        %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}
      .responsive-embed-widescreen
        %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}
      .responsive-embed-widescreen
        %iframe{allowfullscreen: "", frameborder: "0", height: "349", src: "https://www.youtube.com/embed/WUgvvPRH7Oc", width: "560"}


%script{:src => "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"}
