#brand-story.pane
  .row
    .text-center
      .brand-story-header
        %h2 {{content.brandstory.titol}}
        %p  {{content.brandstory.claim}}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{brandstory_icons_1.icona}}"}
        .home-icon-box-bottom
          %h4 {{ brandstory_icons_1.titol }}
          %a.text-normal{:href => "mercat-pagesia"} {{ brandstory_icons_1.text_link }}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{brandstory_icons_2.icona}}"}
        .home-icon-box-bottom
          %h4 {{ brandstory_icons_2.titol }}
          %a.text-normal{:href => "banc-terres"} {{ brandstory_icons_2.text_link }}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{brandstory_icons_3.icona}}"}
        .home-icon-box-bottom
          %h4 {{ brandstory_icons_3.titol }}
          %a.text-normal{:href => "banc-recursos"} {{ brandstory_icons_3.text_link }}

      .small-12.medium-12.columns
        %a.brandstory_button#brandstory_expand
          = t :header_block_link_text

  .row.text-center.brand-story-header#brandstory_expand_container.hidden
    %h2 {{content.brandstory.expand1.titol}}
    %p  {{content.brandstory.expand1.p1}}
    %p  {{content.brandstory.expand1.p2}}
    %br/
    %h2 {{content.brandstory.expand2.titol}}
    %p  {{content.brandstory.expand2.p1}}
    -# %a.brandstory_button#brandstory_expand_hide{:href => "#"}
    -#   = t :brandstory_hide

  .row
    .video-container
      %iframe{allowfullscreen: "", frameborder: "0", height: "100%", "ng-src" => "{{trustSrc(content.brandstory.video)}}", width: "100%"}
    -#     %iframe{allowfullscreen: "", frameborder: "0", height: "100%", "ng-src" => "{{trustSrc(item.link)}}", width: "100%"}
    -# .carousel{"data-flickity" => "{ \"cellAlign\": \"center\", \"pageDots\": false, \"freeScroll\": false, \"contain\": false, \"prevNextButtons\": true}"}
    -#   .video-container{:"ng-repeat" => "item in content.brandstory.videos track by $index"}
    -#     %iframe{allowfullscreen: "", frameborder: "0", height: "100%", ngsrc: "{{trustSrc(item.link)}}", width: "100%"}
    -# .carousel{"data-flickity" => "{ \"cellAlign\": \"center\", \"pageDots\": false, \"freeScroll\": false, \"contain\": false, \"prevNextButtons\": true}"}
    -#   .video-container{:"ng-repeat" => "item in content.brandstory.videos track by $index"}
    -#     %iframe{allowfullscreen: "", frameborder: "0", height: "100%", "ng-src" => "{{trustSrc(item.link)}}", width: "100%"}

%script{:src => "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"}
