.home_block
  .home_block_header.bg_home_features_header
    .row
      %img.home_block_header_logo{src: "assets/logo-banc-de-terres.png"}
      %h2 {{home_block_2.header.claim}}
  .home_block_body.bg_home_features_body.text-center
    .row
      %h3 {{home_block_2.titol}}
    .row
      .small-12.medium-3.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{home_block_2_icon1.icona}}"}
        .home-icon-box-bottom
          %h4 {{home_block_2_icon1.titol}}
          %p.text-normal {{home_block_2_icon1.claim}}
      .small-12.medium-3.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{home_block_2_icon2.icona}}"}
        .home-icon-box-bottom
          %h4 {{home_block_2_icon2.titol}}
          %p.text-normal {{home_block_2_icon2.claim}}
      .small-12.medium-3.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{home_block_2_icon3.icona}}"}
        .home-icon-box-bottom
          %h4 {{home_block_2_icon3.titol}}
          %p.text-normal {{home_block_2_icon3.claim}}
      .small-12.medium-3.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{home_block_2_icon4.icona}}"}
        .home-icon-box-bottom
          %h4 {{home_block_2_icon4.titol}}
          %p.text-normal {{home_block_2_icon4.claim}}
    .row
      %a{:href => ""} VÉS A LA PÀGINA
