.home_block
  .home_block_header.bg_home_fminfo_header
    .row
      =image_tag  "home/logo-mercat-pagesia.svg"
      %h1 {{home_block_1.header.titol}}
      %h2 {{home_block_1.header.claim}}
  .home_block_body.bg_home_fminfo_body.text-center
    .row
      %h3 {{home_block_1.titol}}
    .row
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{home_block_1_icon1.icona}}"}
        .home-icon-box-bottom
          %h4 {{home_block_1_icon1.titol}}
          %p.text-normal {{home_block_1_icon1.claim}}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{home_block_1_icon2.icona}}"}
        .home-icon-box-bottom
          %h4 {{home_block_1_icon2.titol}}
          %p.text-normal {{home_block_1_icon2.claim}}
      .small-12.medium-4.columns
        .home-icon-box
          %img{:height => "68px", :src => "{{home_block_1_icon3.icona}}"}
        .home-icon-box-bottom
          %h4 {{home_block_1_icon3.titol}}
          %p.text-normal {{home_block_1_icon3.claim}}
    .row
      %a{:href => "/mercat-pagesia"}
        = t :home_block_link_text
