.header_learn
  .header_learn_bg1{:class => ""}
    %div
      %h2.header_learn_title {{home_block_1.header.titol}}
      %h3.header_learn_subtitle {{home_block_1.header.subtitol}}
    %div
      %h4.header_learn_description {{home_block_1.header.claim}}
      %br/
      %a.header_learn_button.btn_orange{:href => "#"} Saber més
  .header_learn_bg2{:class => ""}
    %div
      %h2.header_learn_title {{home_block_2.header.titol}}
      %h3.header_learn_subtitle {{home_block_2.header.subtitol}}
    %div
      %h4.header_learn_description {{home_block_2.header.claim}}
      %br/
      %a.header_learn_button.btn_green{:href => "#"} Saber més
  .header_learn_bg3{:class => ""}
    %div
      %h2.header_learn_title {{home_block_3.header.titol}}
      %h3.header_learn_subtitle  {{home_block_3.header.subtitol}}
    %div
      %h4.header_learn_description {{home_block_3.header.claim}}
      %br/
      %a.header_learn_button.btn_yellow{:href => "#"} Saber més
