#stats.pane
  .row.content
    .col-stats.text-center
      %h4
        %strong {{stats1.valor}}
        {{stats1.titol}}
    .col-stats.text-center
      %h4
        %strong {{stats2.valor}}
        {{stats2.titol}}
    .col-stats.text-center
      %h4
        %strong {{stats3.valor}}
        {{stats3.titol}}
    .col-stats.text-center
      %h4
        %strong {{stats4.valor}}
        {{stats4.titol}}
    .col-stats.text-center
      %h4
        %strong {{stats5.valor}}
        {{stats5.titol}}
