#stats.pane
  .row.content
    .col-stats.text-center
      %h4
        %strong {{comptadors.users}}
        {{stats1.titol}}
    .col-stats.text-center
      %h4
        %strong {{comptadors.entrepreneurs}}
        {{stats2.titol}}
    .col-stats.text-center
      %h4
        %strong {{comptadors.hectares_available}}
        {{stats3.titol}}
    .col-stats.text-center
      %h4
        %strong {{comptadors.hectares_occupied}}
        {{stats4.titol}}
    .col-stats.text-center
      %h4
        %strong {{comptadors.contracts}}
        {{stats5.titol}}
