- if controller.controller_name != 'home' && controller.controller_name != 'banc_terres' && controller.controller_name != 'banc_recursos' && controller.controller_name != 'tutorials'
  %li#login-link
    %a{"auth" => "login"}
      %span
        = t 'label_login'
