.bterres_header{
  height: 385px;
  padding: 45px;
  text-align: center;
  color: #ffffff !important;
  background-color: green;
  background-image: image-url("banc_terres_header.jpeg");
  background-size: cover;
  background-position: center;
}

.bterres_header h1{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
}

.bterres_header img{ height: 200px; margin-bottom: 30px;}

.bterres_section_header{
  text-align: center;
  padding: 51px 15px 51px 15px;
}

.bterres_section_header h2{
  font-size: 60px;
  color: #9EA720;
}

.bterres_block{
}

.bterres_block, .bterres_block p {
  padding: 2rem 0 4rem 0;
  color: #3B3B3B;
}

.bterres_block div.ng-binding {
    font-size: 20px;
}

.bterres_block h2{
  text-align: center;
  font-size: 36px;
  color: #4D5A0C;
}

.bterres_block p{
  margin-top: 20px;
  color: #3B3B3B;
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
}

.bterres_block_title{
  font-size: 25px;
}

.bterres_block_description{
  font-size: 20px;
}

.bterres_block a{
  display: block;
  width: 300px;
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin: 40px auto 40px auto;
  border: 3px solid #9EA720;
  color: #9EA720;
}

.bterres_block a:hover{
  color: #ffffff;
  background-color: #9EA720;
}

.bg_bterres{
  background-color: #98C2251A;
}

.contracts_btn{
  background-color: #98C2251A;
  color: #000000;
  margin:15px;
}

button.contracts_btn:hover:hover, button.contracts_btn:hover:focus, .contracts_btn:hover:hover, .contracts_btn:hover:focus{
  background-color: #4D5A0C;
}

@media screen and ( max-width: 768px ) {
  .bterres_header{
    padding: 0px;
  }
  .bterres_info{
    padding: 45px !important;
  }
  .bterres_videos{
    padding: 45px !important;
  }
  .bterres_block{
    padding: 25px;
  }
  .bterres_block a{
    width: auto;
  }
  .bterres_map{
    padding: 45px 0px 0px 0px;
  }

  .bterres_block a{
    margin: 0;
  }

  .bterres_bonline a{
    width: auto;
  }
}


@media screen and ( max-width: 1457px ) {
}
