.brecursos_header{
  height: 385px;
  padding: 45px;
  text-align: center;
  color: #ffffff !important;
  background-image: image-url("banc_recursos_header.jpeg");
  background-position: center;
  background-size: cover;
}

.brecursos_header h1{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
}

.brecursos_header img{ height: 200px; margin-bottom: 30px;}

.brecursos_section_header{
  text-align: center;
  padding: 51px 15px 51px 15px;
}

.brecursos_section_header h2{
  font-size: 60px;
  color: #F0B72A;
}


.brecursos_block{
  padding: 2rem 0 4rem 0;
}

.brecursos_block h2{
  text-align: center;
  font-size: 48px;
  color: #4D5A0C;
}

.brecursos_block p{
  margin-top: 20px;
}

.brecursos_block p{
  color: #3B3B3B;
  font-size: 22px;
}

.brecursos_block_title{
  font-size: 25px;
}

.brecursos_block_description{
  font-size: 20px;
}

.brecursos_block a{
  display: block;
  width: 300px;
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin: 40px auto 40px auto;
  border: 3px solid #F0B72A;
  color: #F0B72A;
}

.brecursos_block a:hover{
  color: #ffffff;
  background-color: #F0B72A;
}

#eines, #mediateca{
  background-color: #eeeeee;
}


@media screen and ( max-width: 768px ) {
  .brecursos_header{
    padding: 0px;
  }
  .brecursos_info{
    padding: 45px !important;
  }
  .brecursos_videos{
    padding: 45px !important;
  }
  .brecursos_block{
    padding: 25px;
  }
  .brecursos_block a{
    width: auto;
  }
  .brecursos_map{
    padding: 45px 0px 0px 0px;
  }

  .brecursos_block a{
    margin: 0;
  }

  .brecursos_bonline a{
    width: auto;
  }
}


@media screen and ( max-width: 1457px ) {
}
