.header_learn{
  height: calc(100vh - 65px);

}

.header_learn_bg1, .header_learn_bg2, .header_learn_bg3{
  padding: 3rem;
  width: 33.33%;
  height: 100%;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.header_learn_bg1{
  background-image: image-url("home/header1.png");
  background-size: cover;
}

.header_learn_bg2{
  background-image: image-url("home/header2.png");
  background-size: cover;
}

.header_learn_bg3{
  background-image: image-url("home/header3.jpeg");
  background-size: cover;
}

.header_learn_button{
  font-family: "FrancoisOne", sans-serif;
  display:inline-block;
  font-size: 20px;
  letter-spacing: 2.2px;
  padding: 12px 30px 12px 30px;
  transition: background-color 0.2s;
  text-transform: uppercase;

  &:hover {
    background-color: #4D5A0C;
    color: white !important;
  }
  & a{
    letter-spacing: initial;
  }
}

#brandstory_expand_container{
  padding: 0px 150px 150px 150px;
}

#brandstory_expand_container h2{
  font-size: 60px;
  color: #9EA720;
}

#brandstory_expand_container p{
  font-size: 25px;
  color: #3B3B3B;
  margin-bottom: 100px;
}

.brandstory_button{
  display: inline-block;
  margin: 75px auto 25px auto;
  padding: 12px 30px 12px 30px;
  border: 3px solid #9EA720;
  color: #9EA720;
}

.brandstory_button:hover{
  color: #ffffff;
  background-color: #9EA720;
}

.btn_orange{
  background-color: #F08823;
  color: #ffffff;
}

.btn_green{
  background-color: #9EA720;
  color: #ffffff;
}

.btn_yellow{
  background-color: #F0B72A;
  color: #ffffff;
}



.video {
  padding-top: calc(100%-44%);
}

.home_block_header{
  background-color: #70892B;
  text-align: center;
  font-size: 30px;
  padding: 75px 300px 75px 300px;
}

.home_block_header_logo{
  height: 90px!important;
}

.home_block_header h1{
  margin-top: 2rem;
  line-height: initial;
  font-size: 60px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.home_block_header h2{
  line-height: initial;
  margin-top: 2rem;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold;
}

.home_block_body{
  background-color: #98C2251A;
  padding: 130px 25px 100px;
}

.home_block_body a{
  margin: 40px auto 0px auto;
  display: inline-block;
  padding: 12px;
  text-align: center;
}

.home_block_header img{
  height: 200px;
  width: auto;
}

.bg_home_features_body .home-icon-box-bottom h4{
  color: #9EA720;
}

.home-icon-box-bottom p{
  color: #3B3B3B;
}


.bg_home_features_header{
  background-color: #9EA720;
}

.bg_home_features_body{
  background-color: #98C2251A;
}

.bg_home_features_body h3{
  font-size: 60px;
  font-weight: bold;
  color: #9EA720;
  margin-bottom: 60px;
}

.bg_home_features_body a{
  border: 3px solid #9EA720;
  color: #9EA720;
}

.bg_home_features_body a:hover{
    color: #ffffff;
    background-color: #9EA720;
}

#brand-story h2{
  font-size: 60px;
  color: #4D5A0C;
  margin-bottom: 30px;
  font-weight: bold;
}

#brand-story p{
  font-size: 22px;
  color: #3B3B3B;
}


#brand-story .home-icon-box-bottom h4{
  font-weight: bold;
  color: #4D5A0C;
}

#brand-story .home-icon-box-bottom a{
  color: #F08823;
  text-transform: uppercase;
  text-decoration: underline;
}

.home-icon-box{
  min-height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-icon-box-bottom h4{
  text-transform: uppercase;
  color: #9F5C1E;
}

.home-icon-box-bottom p{
  color: #3B3B3B;
}

.bg_home_rbinfo_header{
  background-color: #F0B72A;
}

.bg_home_rbinfo_header img{
  height: 115px;
}

.bg_home_rbinfo_body{
  background-color: #5833111A;
}

.bg_home_rbinfo_body h3{
  font-size: 60px;
  color: #F0B72A;
  margin-bottom: 60px;
  font-weight: bold;
}

.bg_home_rbinfo_body a{
  border: 3px solid #F0B72A;
  color: #F0B72A;
}

.bg_home_rbinfo_body a:hover{
  color: #ffffff;
  background-color: #F0B72A;
}

.bg_home_rbinfo_body h4{
  color: #F0B72A;
}

.bg_home_fminfo_header{
  background-color: #F08823;
}

.bg_home_fminfo_body{
  background-color: #B7831C1A;
}

.bg_home_fminfo_body h3{
  font-size: 60px;
  color: #F08823;
  font-weight: bold;
  margin-bottom: 60px;
}

.bg_home_fminfo_body h4{
  color: #F08823;
}

.bg_home_fminfo_body a{
  border: 3px solid #F08823;
  color: #F08823;
}

.bg_home_fminfo_body a:hover{
  color: #ffffff;
  background-color: #F08823;
}

.header_learn_title{
  margin-top: 50px;;
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
  line-height: initial;
}

.header_learn_subtitle{
  color: #ffffff;
  font-size: 22px;
}

.header_learn_description{
  color: #ffffff;
  font-size: 30px;
}

.p-14{
  padding: 14px;
}

.header_learn_desktop{
  display: none;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.flickity-slider {
}

.flickity-prev-next-button{
  border-radius: 100%;
  height: 66px;
}


@media screen and ( max-width: 768px ) {
  .header_learn_title {
    font-size: 42px;
  }
  .header_learn-desktop {
    display: none;
  }
  .header_learn-mobile{
    display: block;
  }
  .header_learn_bg1, .header_learn_bg2, .header_learn_bg3{
    width:100%;
  }
  .header_learn{
    height: auto;
  }
  .home_block_header{
    padding: 75px 15px 90px 15px;
  }
  .home_block_header_logo{
  }

  .footer-local{
    padding: 24px;
  }
  .footer-partners{
    padding: 50px 25px 50px 25px;
  }
  .brand-story-header{
    padding: 28px;
  }
  .pmarket_producers{
    padding: 30px;
  }
  .pmarket_map{
    padding: 5px;
  }
  .pmarket_bonline{
    padding: 30px;
  }
  .pmarket_bonline_links{
    align-items: center;
  }
  .footer-partners .row .columns{
    margin-bottom: 15px;
  }
}

@media screen and ( min-width: 769px ) {
  .header_learn-desktop{
    display: block;
  }
  .header_learn-mobile{
    display: none;
  }
}

button.disabled, button[disabled], .button.disabled, .button[disabled]{
  background-color: #525252;
}

.flickity-button{
  background-color: #4D5A0C;
}
