@import "branding";
@import "mixins";

.producers {
  @include producersbg;

  @include sidepaddingSm;

  @include panepadding;

  a {
    color: $clr-turquoise;

    &:hover, &:active, &:focus {
      color: $clr-turquoise-bright;
    }
  }

  a.button.primary {
    &:hover, &:active, &:focus {
      color: white;
    }
  }
  
  .producers_header h1 {
    font-size: 52px;
    color: #4D5A0C;
  }
  
  .producers_header h2{
    margin-top: 50px;
  }
}
