:css
  #tagline:before { background-image: url("#{ContentConfig.home_hero.url}") }



#panes

.faq_header
  %h1 Mercat de la pagesia
  %section{:"ng-app" => "demo"}
  .conversation_window{:"ng-controller" => "FaqController"}
    .header
      .conversation_title {{conversation_title}}
    .conversation
      .conversation_item{:"ng-repeat" => "item in conversation()"}
        .conversation_card{:"ng-show" => "!is_hidden(item.id)"}
          .hide-link{:"ng-click"=>"hide(item.id)"} X
          .from {{item.from}}
          .date {{item.date}}
          .msg "{{item.msg}}"
          %img{:"gravatar-src" => "item.email", "gravatar-size" => 128}
          .attachment{:"ng-repeat" => "attachment in item.attachments"}
            %a{:href => "attachment.url"} {{attachment.name}}
    .footer
      .sorting
        %radio{:"name"=>"sort_orde", "value"=>"ascending"}
        %radio{:"name"=>"sort_orde", "value"=>"desending"}
      .status Conected

      {{posts}}


%script{src: "//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"}
= render "shared/footer"
